body {
  background-image: url('/assets/images/bg/bg.png');
  background-attachment: fixed;
  color: #ffffff !important;
}
.rd_logo{
  font-size: 65px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eb5f46;
  font-family: cursive;
  margin-top: 70px;
}
.martopBot50{
	margin: 50px 0px;
}
.marTop40{
	margin-top: 40px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
.txtAlgnCenter{
  text-align:center;
}
.rd_proimg{
	width:200px;
	height:250px;
}
.rd_wrapTxt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
}
.rd_red_border{
  border-top: 2px solid #eb5f46;	
}
.rd_left{
	float: left;
	width: 100%;	
}
.rd_left_20{
	float: left;
	width: 10%;	
}
.rd_left_80{
	float: left;
	width: 80%;	
}
.rd_totalPrice{
	text-decoration: line-through;
	color: #cc0000;
}
.rd_pro_section{
	float: left;
	width: 100%;
	padding: 0% 4% 5% 4%;
	/*border: 1px solid #cfc03c; */
	margin: 10px 0px;
}
.rd_single_product{
	float: left;
	width: 30%;
	/*width: 32%;
	margin-right: 1%;*/
}
.rd_multi_product{
	float: left;
	width: 25%;
}
.rd_search_section{
    padding: 10px;
}
.rd_border_grey{
	border: 1px solid #ccc;
}
.rd_search_title{
	font-size: 15pt;
    font-weight: bold;
    background: #eb5f46;
    color: #fff;
    padding-left: 15px;	
}
.rd_list_style{
	list-style-type: none;
}
.rd_font_uppercase{
	text-transform: uppercase;
}
.rd_marg_bot20{
	margin-bottom: 20px;
}
.rd_marg_top20{
	margin-top: 20px;
}
.rd_mic_icon{
	width: 35px;
	height: 35px;
}
.rd_bg_orange{
	background: #eb5f46;
}
.rd_search_none{
	display: none;
}
.rd_footer{
	border-top: 1px solid #eb5f46;
	color: #eb5f46;
    padding: 10px 10px 30px 10px;
    background: #000;
}
.rd_float_right{
	float: right !important;
	padding-left: 10%;
}
.rd_footer_left{
	float: left;
	width: 33%;
	text-transform: uppercase;
	font-size:20px;
}
.rd_footer_right{
	float: right;
	width: 50%;
	text-align: right;
	font-size: 12px;
}
.rd_text_13{
	font-size: 13px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}
.rd_mic{
	cursor: pointer;
}
.rd_relative{
	position: relative;
}
.rd_mic_receiver{
	position: absolute;
    top: 50%;
    z-index: 1;
    right: 30%;
}
.rd_no_results{
	padding-top: 5%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 10%;
}
.rd_nav_fixed{
	position: fixed !important;
    left: 0px;
    padding: 0px !important;
    z-index: 12;
}
a.nav-link {
    font-size: 24px;
    color: #000 !important;
    font-weight: bold;
}
.form-inline{
	width: 35%;
}
.rd_width_80{
	width: 80% !important;
}
.rd_follow_us{
    width: 50px;
    margin-right: 20px;
    border-radius: 10px;
}